.main {
  margin: 0 40px;
  margin-left: 110px;
}

.with_menu {
  margin-left: 330px;
}

@media (max-width: 600px) {
  .main {
    margin: 0 20px;
    margin-left: 90px;
  }
  .with_menu {
    margin-left: 90px;
  }
}
