.more {
  position: relative;
  i {
    font-size: 20px;
    margin-left: 5px;
  }
  .favorite {
    &:hover i {
      color: #0747a6;
    }
  }

  .three_dot {
    i {
      transition: all 0.4s;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &:hover i {
      background-color: #ebecf0;
    }
  }
  .dots_bar {
    position: absolute;
    right: 0;
    bottom: 100%;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2px;
    // padding: 10px 15px;
    z-index: 999;
    width: 200px;
    // height: 100px;
    .remove {
      display: flex;
      align-items: center;
      padding: 5px 20px;
      &:hover {
        background-color: #f1f3f4;
      }
      i {
        color: #f73d52;
        margin-left: -5px;
      }
      span {
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 2px;
      }
    }
  }
}
